<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style/style_two.css">
    <title>Detail</title>
</head>
<body>
    <div class="div_options">
        <img src="/storage/img/Arrow.png">
    </div>
    <img src="/storage/img/Tim_Lindenman-Band.jpg">
    <section class="info_concert">
        <div class="concert">
            <p>Till Lindemann - Meine Welt</p>
            <div class="place">
                <img src="/storage/img/Place-Trend.png">
                <p>Adidas Arena, Paris, France</p>
            </div>
            <div class="date">
                <img src="/storage/img/Calender-Trend.png">
                <p>November 20, 2025/p>
            </div>
        </div>
        <div class="people">
            <img src="/storage/img/People.png">
            <p>50K+ Participants</p>
        </div>
    </section>
    <section class="big_info">
        <h1>Description</h1>
        <p class="p_bigtext">Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, 
            finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa.
            Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis 
            in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet.<label for="read_more">Read More..</label></p>
            <input type="put_it" id="read_more">
            <label class="modal-overlay" for="read_more"></label>
    </section>
    <section class="Maps">
        <h1>Venue & Location</h1>
        <div class="div_map">
            <img class="img_map" src="/storage/img/Till-Place.png">
        </div>
    </section>
    <footer class="footer_buy">
        <div class="div_concertval">
            <p>Start from</p>
            <h1>€ 150</h1>
        </div>
        <div class="div_concertbuy">
            <button>
                <a href="ticket.html">
                     Buy Ticket
                </a>
            </button>
        </div>
    </footer>
</body>
</html>