<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style/style_two.css">
    <title>Detail</title>
</head>
<body>
    <div class="arrow">
        <a href="../index.html">
        <img src="/storage/img/Arrow.png">
        </a>
    </div class="front" >
    <img src="/storage/img/Sleep_Token-Band.jpg">
    <section class="info_concert">
        <div class="concert">
            <p>Sleep Token: Rock im Park 2025</p>
            <div class="place">
                <img src="/storage/img/Place-Trend.png">
                <p>Zeppelinfeld, Nürnberg, Germany</p>
            </div>
            <div class="date">
                <img src="/storage/img/Calender-Trend.png">
                <p>June 06-08, 2025</p>
            </div>
        </div>
        <div class="people">
            <img src="/storage/img/People.png">
            <p>50K+ Participants</p>
        </div>
    </section>
    <section class="big_info">
        <h1>Description</h1>
        <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, 
            finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa.
            Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis 
            in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet.<label for="read_more">Read More..</label></p>
            <input type="put_it" id="read_more">
            <label class="modal-overlay" for="read_more"></label>
    </section>
    <section class="Maps">
        <h1>Venue & Location</h1>
        <div class="div_map">
            <img class="img_map" src="/storage/img/Sleep-Place.png">
        </div>
    </section>
    <footer class="foot">
        <div class="price">
            <p>Start from</p>
            <h1>€ 190</h1>
        </div>
        <div class="buy">
            <button class="buttom">
                <a href="ticket.html">
                     Buy Ticket
                </a>
            </button>
        </div>
    </footer>
</body>
</html>