<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style/style_three.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="icons">
            <a href="../view/index_detail_1.html">
                <img src="../storage/img/Arrow.png" alt="">
            </a>
            <a href="">
                <img src="../storage/img/Dots.png" alt="">
            </a>
        </div>
    </header>
    <main>
        <div class="container_ticket">
            <div class="img_event">
                <img src="../storage/img/Sleep_Token-Band.jpg" alt="">
            </div>
            <div class="container_info">
                <div class="tittle">
                    <h1>Sleep Token: Rock im Park 2025</h1>
                    <p>June 06-08, 2025, Zeppelinfeld, Nürnberg, Germany</p>
                </div>
            </div>
            <div class="line">
            </div>
            <div class="ticket_info">
                <div class="info">
                    <div>
                        <p>Name</p>
                        <h1>Francisco Cañadas</h1>
                    </div>
                    <div>
                        <p>Order Number</p>
                        <h1>CLD09738PL</h1>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <p>Date</p>
                        <h1>June 06-08, 2025</h1>
                    </div>
                    <div>
                        <p>Time</p>
                        <h1>9:00 PM</h1>
                    </div>
                </div>
                <div class="info">
                    <div>
                        <p>Gate</p>
                        <h1>1</h1>
                    </div>
                    <div>
                        <p>Seat</p>
                        <h1>West B</h1>
                    </div>
                </div>
            </div>
            <div class="dot_line">
            </div>
            <div class="code_bar">
                <img src="../storage/img/Code-Bar.png" alt="">
            </div>
        </div>
        <div class="circle_container">
            <div class="circle">
                <div>
                <img src="../storage/img/circle_1.png" alt="">
                </div>
                <div>
                <img src="../storage/img/circle_2.png" alt="">
                </div>
            </div>
        </div>
    </main> 
</body>
</html>